<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZamgerIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ooadproject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/sidemenu.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    <link rel="icon" href="~/graduation-cap-solid.svg" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fs-5 d-inline-block align-text-top" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-graduation-cap fa-2x"></i>
                    <span style="font-size: 1.8em;">Zamger</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 collapse-sm d-sm-block collapse " id="navbarToggleExternalContent">
 
                @RenderSection("SideMenu", required: false)
            </div>
            <main role="main" class="col-md-9">
                @RenderBody()
            </main>
        </div>

    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            &copy; 2023 - ooadproject 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var isAnimating = false;

            $(".btn-toggle").click(function (e) {
                if (isAnimating) {
                    e.preventDefault();
                } else {
                    isAnimating = true;
                    $(this).toggleClass('rotate');
                    setTimeout(function () {
                        isAnimating = false;
                    }, 300); 
                }
            });
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>