@model ooadproject.Models.StudentExam

@{
    ViewData["Title"] = "Dodaj poene";
}
@section SideMenu {
    @await Html.PartialAsync("_TeacherHomePartial")
}
<h1>Unesite rezultate ispita</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="CourseID" class="control-label">Ime studenta</label>
                <select asp-for="CourseID" class ="form-control" asp-items="ViewBag.CourseID"></select>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ExamID" class="control-label">Naziv ispita</label>
                <select asp-for="ExamID" class ="form-control" asp-items="ViewBag.ExamID"></select>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PointsScored" class="control-label">Osvojeni poeni</label>
                <input asp-for="PointsScored" class="form-control" />
                <span asp-validation-for="PointsScored" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vrati se</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
