@model IEnumerable<ooadproject.Models.ExamRegistration>
@{
    ViewData["Title"] = ViewBag.CurrentCourse.Name;
}
@section SideMenu {
    @await Html.PartialAsync("_TeacherHomePartial")
}
<h1 class="pb-3">@ViewBag.CurrentCourse.Name</h1>
<h2 class="pb-3">Pojedinačni unos rezultata</h2>
<a class="btn btn-primary" asp-controller="StudentExam" asp-action="Create" asp-route-id="@ViewBag.CurrentCourse.ID">Unesi rezultat</a>

<h2 class="pt-3">Grupni unos rezultata</h2>
<div class="row mb-3">
    <div class="col-md-4">
        <form id="saveExamResultsForm" method="post">
            <div class="form-group">
                <label class="control-label pb-1 pt-3">Ispit</label>
                <!--Kasnije kada se doda Homework, pridodati na ovo i Homework-->
                <select class="form-control" asp-items="@ViewBag.Exams" name="id"></select>
            </div>

            <div class="form-group">
                <label for="linkInput" class="control-label pb-1 pt-3">Link</label>
                <input type="url" class="form-control" id="linkInput" placeholder="Unesite spreadsheet link" name="link">
                <span id="linkError" class="text-danger mt-2"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Unesi</button>
        </form>
        <div id="successMessage" class="alert alert-success mt-3" style="display: none;"></div>
    </div>
</div>

<script>
    $('#linkInput').on('input', function () {
        $('#linkError').text('');
    });

    $('#saveExamResultsForm').on('submit', function (e) {
        e.preventDefault();
        var url = '@Url.Action("SaveExamResults", "StudentExam")';
        var data = $(this).serialize();

        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function (response) {
                $('#linkError').text('');
                $('#linkInput').text('');

                $('#successMessage').text('Uspješno sačuvano!');
                $('#successMessage').show();

                setTimeout(function () {
                    $('#successMessage').hide();
                }, 5000);
            },
            error: function (jqXHR) {
                if (jqXHR.status === 400) {
                    var response = JSON.parse(jqXHR.responseText);

                    $('#linkError').text(response.link);
                }
            }
        });
    });
</script>

